<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXIrfc1nbJN8m5tRqqr5yRuHwo-gvvzb8</string>
	<key>GCM_SENDER_ID</key>
	<string>882145525830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trailvault.trailVault</string>
	<key>PROJECT_ID</key>
	<string>trail-vault-d5ea8</string>
	<key>STORAGE_BUCKET</key>
	<string>trail-vault-d5ea8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882145525830:ios:15fdce82b311ca772e8a47</string>
</dict>
</plist>